@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  margin: 0 300px;
  box-sizing: border-box;
  box-shadow: grey 1px 2px 6px 1px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  display: flex;
  justify-content: flex-end;
}

table tr {
  line-height: 30px;
  font-weight: bold;
}

.title {
  background-color: lightgray;
  padding: 5px;
}

ul {
  list-style-type: none;
}

ul li::marker {
  content: "❖";
  font-size: 1.2em;
  color: #000;
}
